
<div style="text-align:center">

<h1> Get to Know Joel </h1>

</div>

<br />
<br />

<p> Joel is a very interesting man and has a lot of hobbies and talents. Below are a few of them! </p>

<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy Club</a></li>
    <li><a href="https://baconsale.com/" target="_blank">Bacon Sale</a></li>
    <li><a href="https://baconsale.com/" target="_blank"><img src="~/lib/img/baconsalekate.jpg" width="300"></a></li>

</ul>