<div style="text-align:center">

    <h1> The Joel Hilton Film Collection </h1>

    <br />
    <br />
    <br />

    <p> Joel loves movies and has a collection of his favorite movies. This site is to help him easily add new movies to his collection! </p>

    <br />
    <br />
    <br />

    <img src="~/lib/img/joelhiltonheadshot.jpg" />
    <br />
    <br />
    <br />
    <img src="~/lib/img/joel.jpg" />
    <br />
    <br />
    <br />
    <img src="~/lib/img/joel2.jpg" />

    <br />
    <br />
    <br />

    <p> Fun fact about Joel is that he is not the best looking brother in the family, his older brother Spencer is! </p>

</div>